* {
    box-sizing: border-box;
}

header {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 120px;
    border: 4px solid orangered;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 10px;
    position: sticky;
    top: 0px;
}

.logo {
    width: 100px;
    margin-bottom: 5%;
}

.container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 32px; 
    margin-right: 50px; 
}

body {
    background-color: silver;
}

h1 {
    text-align: center;
    color: blueviolet;
    font-size: 100px;
    font-family: cursive
}

.new_releases {
    width: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    border: 10px solid orangered;
    background-color: rgb(47, 45, 45);
    
}

.image {
    box-shadow: 0 0 40px darkred;
    
}

.new_releases>div>img {
    width: 400px;
    height: 550px;
    margin: 50px;
    row-gap: 100px;
}